h1{
  background:url('../images/logo.png') no-repeat;
  text-indent: -9999px;
  width:200px;
  height:99px;
}
body{
  margin: auto;
  background: url('../images/bg4.jpg') no-repeat;
  background-size:cover;

}

nav {
  position: fixed;
}

nav li{
  display:inline;
  margin-left: 0px;
  margin-right:40px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  text-shadow: 2px 2px 5px  #ff1a1a;

}
nav a{
  text-decoration: none;
  color: black;

}
nav a:hover{
  font-size: 30px;
}
.cont{
  margin:auto;
  text-align: justify;
  padding-right: 60px;
  padding-left: 60px;
  padding-top:20px;
  padding-bottom: 20px;
  float: right;
  font-weight: 500;
}
h2{
  font-family: 'Lato', sans-serif;
  font-size: 150px;
  font-weight: bolder;
  padding-bottom: 20px;
  padding-top:20px;
}
#p1
{
  width:60%;
  height:400px;
  margin-left: 200px;
  margin-right:200px;
}
#p2
{
  font-family: cursive;
  font-weight: 400;
}
#li1
{
  font-family:cursive;
  font-weight: bolder;
}
.dealer
{
  width:300px;
  height:300px;
  background-color: transparent;
}
h3{
  font-family: 'Bangers', cursive;
  font-size:2em;
  font-weight: bold;
}
section{
  margin-right: 10px;
  margin-left: 10px;
  margin-top:10px;
  margin-bottom:10px;
}

.foot
{
  font-size: 12px;
  font-weight: bolder;
  text-shadow: 3px 3px 8px #FF0000;
  font-family: 'Fira Sans', sans-serif;
}
.plugin
{
  margin-top:0px;
  float:right;
  font-size:2em;
  padding-left: 10px;
  padding-right:10px;
}
