h1{
  background:url('../images/logo.png') no-repeat;
  text-indent: -9999px;
  width:200px;
  height:99px;
}
body{
  margin: auto;
  background: url('../images/bg2.jpg') no-repeat;
  background-size:stretch;
}
.head
{
  position:fixed;
}
nav li{
  display:inline;
  margin-left: 0px;
  margin-right:40px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  text-shadow: 2px 2px 5px  #ff1a1a;

}
nav a{
  text-decoration: none;
  color: black;

}
nav a:hover{
  font-size: 30px;
}
.cont{
  margin:auto;
  text-align: justify;
  padding-right: 60px;
  padding-left: 60px;
  padding-top:20px;
  padding-bottom: 20px;
  float: right;
  font-weight: 500;
}
h2{
  font-family: 'Lato', sans-serif;
  font-size: 150px;
  font-weight: bolder;
  padding-bottom: 20px;
  padding-top:20px;
}
#p1
{
  width:60%;
  height:400px;
  margin-left: 200px;
  margin-right:200px;
}
#li1
{
  font-family:cursive;
  font-weight: bolder;
}
.foot
{
  font-size: 12px;
  font-weight: bolder;
  text-shadow: 3px 3px 8px #FF0000;
  font-family: 'Fira Sans', sans-serif;
}
.plugin
{
  float:right;
}
