h1{
  background:url('../images/logo.png') no-repeat;
  text-indent: -9999px;
  width:200px;
  height:99px;
  //position:fixed;
}
body{
  margin: auto;
  margin-bottom: 960px;
  background: url('../images/contact1.jpg') no-repeat;
  background-size: cover;
}
nav {
  position: fixed;
}

nav li{
  display:inline;
  margin-left: 0px;
  margin-right:40px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  text-shadow: 2px 2px 5px  #ff1a1a;
}
nav a{
  text-decoration: none;
  color: black;

}
nav a:hover{
  font-size: 30px;
}
.main{
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bolder;
}
h2{
  font-size:100px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}
p{
  font-style: italic;

  font-variant: normal;
  position: absolute;
}
#im1{
  margin-top:20px;
  margin-bottom:20px;
  width:960px;
  height:280px;
}
ul{font-family: 'Proza Libre', sans-serif;
  font-weight: bolder;
}
.con1{
  float: left;
  margin-right: 20px;
  width:30%;
}
.con2{
  float:left;
  margin-right: 20px;
  width:30%;

}
.con3{
  float:left;
  font-weight: bolder;
  width:30%
}
.foot
{
  font-size: 12px;
  font-weight: bolder;
  text-shadow: 3px 3px 8px #FF0000;
  font-family: 'Fira Sans', sans-serif;
}
.plugin
{
  margin-top:0px;
  float:right;
  font-size:2em;
  padding-left: 10px;
  padding-right:10px;
}
