h1{
  background:url('../images/logo.png') no-repeat;
  text-indent: -9999px;
  width:200px;
  height:99px;
}
body{
  margin: auto;
  background: url('../images/bg2.jpg') no-repeat;
  background-size: cover;
}
nav li{
  display:inline;
  margin-left: 0px;
  margin-right:40px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  text-shadow: 2px 2px 5px  #ff1a1a;
}
nav a{
  text-decoration: none;
  color: black;
}
nav a:hover{
  font-size: 30px;
}
h2{
font-family: 'Noto Serif', serif;
font-size: 30px;
}
.m1
{
  margin-right:100px;
  margin-left:100px;
  margin-top:30px;
  margin-bottom:30px;
  width: 960px;
  height:400px;
}
.foot
{
  font-size: 12px;
  font-weight: bolder;
  text-shadow: 3px 3px 8px #FF0000;
  font-family: 'Fira Sans', sans-serif;
}
